jwt:
  issuer: dgdg-local
  secret: dgdg-local-test-key
  access_token_expires_time: 86400 # 1일 (60 * 60 * 24)
  refresh_token_expires_time: 2592000 # 30일 (60 * 60 & 24 * 30)
spring:
  config:
    activate:
      on-profile: local
---
jwt:
  issuer: ${jwt-issuer}
  secret: ${jwt-secret}
  access_token_expires_time: 86400 # 1일 (60 * 60 * 24)
  refresh_token_expires_time: 2592000 # 30일 (60 * 60 & 24 * 30)
spring:
  config:
    activate:
      on-profile: dev
